/* style.css */

* {
    font-family: monospace;
}

h1 {
    text-align: center;
    background-color: rgb(229, 255, 0);
    font-size: 40px;
}

h2 {
    font-size: 35px;
}
li {
    text-align: inherit;
    font-size: 30px;
}

